# Time zone in tz database format
TZ=Europe/Minsk
ENV=ANYTHING
WORKERS=4
BOT_TOKEN="5917754190:AAExFeVeRtWvm9ZS8HdT_j5mvP-8JWXd4yc"
# ID of user which can configure the bot throught PM
OWNER_ID=672068493
# Chat ID's in format -100XXXXXXXXXX
FROM_CHATS=[-1001711141388]
TO_CHATS=[-1001837099021]
